<table>
    <div class="row">
        <div class="col-sm-6 col-md-4">

            <a href="~/images/001.jpg" class="warning">
                <img src="~/images/002.jpg" height="150" class="img-thumbnail" alt="Responsive image">
            </a>
            <div class="caption">
                <h3>White Blazer</h3>
                <h3>Code M001 </h3>
                <h4>This product Imported from India </h4>
                <p> <h2 class="alert-success">Price 3000 Taka</h2></p>
                <p> <a href="http://localhost:1634/Order/Create" class="btn btn-default" role="button">Click for Order</a></p>
            </div>
            Please Copy the Product Code


        </div>
        <a href="~/images/001.jpg" class="warning">
            <img src="~/images/002.jpg" height="150" class="img-thumbnail" alt="Responsive image">
        </a>
        <a href="~/images/001.jpg" class="warning">
            <img src="~/images/002.jpg" height="150" class="img-thumbnail" alt="Responsive image">
        </a>
    </div>
</table>